#CharsetDefault UTF-8
#CharsetSourceEnc UTF-8
Options -Indexes
ErrorDocument 404 "/errors/404/"
ErrorDocument 500 "/errors/500/"

# Rewrite www.domain.com -> domain.com -- used with SEO Strict URLs plugin
RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} ^www.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteCond %{SERVER_PORT} !^443
RewriteRule (.*) https://u0life.com/$1 [R=301,L]

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	RewriteCond %{REQUEST_URI} !\?
	RewriteCond %{REQUEST_URI} !\&
	RewriteCond %{REQUEST_URI} !\=
	RewriteCond %{REQUEST_URI} !\.
	RewriteCond %{REQUEST_URI} !\/$
	RewriteRule ^(.*[^\/])$ /$1/ [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /index.php
</IfModule>
