// block_donate
.block_donate
  display: flex
  flex-direction: column

  ._item
    display: flex
    align-items: center
    padding: 1rem
    font-size: 2em
    line-height: 2em

    ._icon
      padding-right: .5rem

    ._val
// block_donate x
